extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Projects made during my education with Team Treehouse


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projectsArr
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.landing}`, alt=`A photo of ${project.project_name}`)
            h5= project.project_name

