<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet")      
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='../images/profile-pic.jpg', alt='A picture of Phillip Lankford')
        .dev-intro-box

          h5 Phillip Lankford

          p I am a Front End Web Developer based in Seattle, Washington. I am passionate about creating satisfying experiences with cohesive, minimal aesthetics. Currently studying Full Stack Javascript at Treehouse.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Phillip Lankford

      block content

  script(src='/static/js/script.js')